<h1>Welcome to Family Market</h1>

<h2>Categories</h2>
<%= render :partial => "categories/index", :collection => @categories, as: :category %></li> 

<h2>Listed Items</h2>
<%= render :partial => "items/index", :collection => @items, as: :item %></li> 

<%= link_to "Add Item",new_item_path %>


