<div class="tile is-ancestor">
<div class="tile is-vertical is-parent">
  <div class="tile is-child notification is-dark box">
   <p class="title">Welcome to the Family Market</p>
    <div class="content">
      <%= link_to "Items", items_path %><br>
      <%= link_to "Categories", categories_path %>
    </div>
    <p class="title">Items</p>
    <div class="content">
    <% if @items.empty? %>
        <p>There are no available items.</p>
    <% else %>  
        <%= render :partial => "items/index", :collection => @items, as: :item %>
        <%= button_to("New Item", new_item_path, :method => :get, :class => "button") %>
    <% end %>
  </div>
  </div>
</div>


