<div class="tile is-ancestor">
<div class="tile is-vertical is-parent ">
  <div class="tile is-child notification is-primary box">
   <p class="title">Log in</p>
    <div class="content">
      <%= render 'form' %>
    </div>
  </div>
</div>




