<div class="tile is-ancestor">
<div class="tile is-vertical is-parent ">
  <div class="tile is-child notification is-dark box">
   <p class="title">Edit item</p>
    <div class="content">
        <%= render partial: "form", locals: {item: @item} %><br>
        <%= button_to "Delete", @item, method: :delete, data: { confirm: "Really delete this item?"}, :class => "button" %>
    </div>
  </div>
 </div>
</div>