<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
    <h1 class="title is-2">Categories</h1> 
      <h1 class="title is-4" id="js-show-category">Show</h1>
      <h1 class="title is-4" id="js-hide-category">Hide</h1>
      <div data-turbolinks="false" id="js-category">
      </div> 
      <div data-turbolinks="false" id="js-category-item">
      </div> 
    </div>
  </div>
</section>
<% if user_signed_in? %>  
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
    <h1 class="title is-2">Add item</h1>
    <div data-turbolinks="false">
      <%= render partial: "form", locals: {item: @item} %><br>
    </div>
    </div>
  </div>
</section>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
    <h1 class="title is-2">Items</h1>
    <div id="js-new-item"></div>
    <div id="js-items" data-user=<%= current_user.id %>></div>
    <% if @items.empty? %>
        <p>There are no available items.</p>
    <% end %>
  <% end %>
    </div>
  </div>
</section>
 

