<div class="tile is-ancestor">
<div class="tile is-vertical is-parent">
  <div class="tile is-child notification is-dark box">
  <% if @category.nil? %>
    <p class="title">Items</p>
  <% else %>
    <p class="title">Items in <%= @category.name.capitalize %></p>
 <% end %>
   <div class="content">
    <% if @items.empty? %>
        <p>There are no available items.</p>
    <% else %>  
        <%= render :partial => "items/index", :collection => @items, as: :item %>
        <%= button_to("New Item", new_item_path, :method => :get, :class => "button") %>
    <% end %>
   </div>
  </div>
</div>