<div class="tile is-ancestor">
<div class="tile is-vertical is-parent">
  <div class="tile is-child notification is-dark box">
    <p class="title">Categories</p> 
      <p class="subtitle" id="js-show-category">Show</p>
      <p class="subtitle" id="js-hide-category">Hide</p>
      <div class="content" id="js-category">
      </div>   
    <p class="title">Add item</p>
    <%= render partial: "form", locals: {item: @item} %><br>
    <p class="title">Items</p><br>
    <div id="js-new-item"></div>
    <div id="js-items"></div>
    <% if @items.empty? %>
        <p>There are no available items.</p>
    <% end %>
  </div>
</div>
</div>

