<div class="tile is-ancestor">
<div class="tile is-vertical is-parent ">
  <div class="tile is-child notification is-primary box">
   <p class="title">New item</p>
    <div class="content">
        <%= render partial: "form", locals: {item: @item} %>
    </div>
  </div>
 </div>
</div>


