<h1><%= @category.name.capitalize %></h1>

<h3>Items in <%= @category.name.capitalize %><h3>

<% @items.each do |item| %>
    <ul>
    <li><%= link_to item.title, item_path(item) %> | <%= item.description %></li>
    </ul>
<% end %> 