<div class="tile is-ancestor">
<div class="tile is-vertical is-parent ">
  <div class="tile is-child notification is-primary box">
   <p class="title"><%= @category.name.capitalize %></p>
    <div class="content">
        <%= render :partial => "items/index", :collection => @items, as: :item %></li> 
    </div>
  </div>
 </div>
</div>
