<div class="tile is-ancestor">
<div class="tile is-vertical is-parent ">
  <div class="tile is-child notification is-primary box">
   <p class="title"><%= @category.name.capitalize %></p>
    <div class="content">
        <% if @category.items.empty? %>
            <p>There are no available items.</p>
        <% else %>
        <%= render :partial => "items/index", :collection => @items, as: :item %></li> 
        <% end %>
    </div>
  </div>
 </div>
</div>
