<nav class="">
<% if user_signed_in? %>
    <ul>
    <li>Signed in as <%= current_user.email %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
    <li><%= link_to "Family Market Home", root_path %></li>
    </ul> 
<% end %>
    
</nav>