
<% if user_signed_in? %>
    <% if current_page?(root_path) %>
        <p><%= link_to "Signed in as #{current_user.email}", current_user %></p>
        <p><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></p>
    <% else %>
        <p><%= link_to "Family Market Home", root_path %></p>
        <p><%= link_to "Sign out #{current_user.email}", destroy_user_session_path, :method => "delete" %></p>
    <% end %>
<% end %>
