<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FamilyMarketApp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Family Market</h1>
    </div>
    <div class="container">
      <%= render 'layouts/header' %>
    </div>
  </nav>
  </div>
  </section>
  <body>
  
  <section class="section">
    <div class="container">
      <div class="content" id="main">
        <%= yield %>
      </div>
    </div>
 </section>
</body>
</html>
